:host {
  padding: 40px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-not-found {
  max-width: 300px;
  border-radius: 4px;
}

.text-not-found {
  margin-top: 42px;
  margin-bottom: 42px;
  text-align: center;
}