<app-tile-header icon="work_outline" title="Recent Transactions"></app-tile-header>

<app-table-toolbar></app-table-toolbar>

<table mat-table [dataSource]="transactions$ | async" class="mat-elevation-z8">

    <ng-container matColumnDef="date">
        <!-- <th mat-header-cell *matHeaderCellDef> Date </th> -->
        <td mat-cell *matCellDef="let transaction">
            {{ transaction.timestamp | dateConverter }}
        </td>
    </ng-container>

    <ng-container matColumnDef="details">
        <!-- <th mat-header-cell *matHeaderCellDef> Details </th> -->
        <td mat-cell *matCellDef="let transaction">
            <app-transaction [transaction]="transaction"></app-transaction>
        </td>
    </ng-container>

    <ng-container matColumnDef="amount">
        <!-- <th mat-header-cell *matHeaderCellDef> Amount </th> -->
        <td mat-cell *matCellDef="let transaction">
            {{ transaction.amount | amountConverter }}
        </td>
    </ng-container>

    <ng-container matColumnDef="color" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let transaction" class="color-cell" [ngClass]="colorRow(transaction.state)">
        </td>
    </ng-container>

    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
    <tr mat-row *matRowDef="let transaction; columns: displayedColumns;" [routerLink]="['./', transaction.id]">
    </tr>

</table>